<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <title></title>
  </head>
  <body>
    <div id="wa-box">
      <div class="contact">

        <div class="username">

          <ul class="user-id">
            <li>
              <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg
              " alt="">
            </li>

            <li>
              <span>Nome Utente</span>
            </li>

          </ul>

          <ul class="username-menu">
            <li>
              <i class="fas fa-circle-notch"></i>
            </li>

            <li>
              <i class="fas fa-comment-alt"></i>
            </li>

            <li>
              <i class="fas fa-ellipsis-v"></i>
            </li>
          </ul>
        </div>

        <div class="desktop-alert">

          <div class="bell">
            <i class="fas fa-bell-slash"></i>
          </div>

          <div class="desktop-alert-text">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <p>Attiva notifiche desktop</p>
          </div>
        </div>

        <div class="user-search">
          <i class="fas fa-search"></i>
          <input type="text" name="" value="">
        </div>

        <div id="contactList">
            <div class="contact-chat" v-for="(user , index)  in contacts"
            :class="(index == activeUser) ? 'active' : '' " @click="chatIndex(index)"
            >
            <img :src="user.avatar" alt="">
            {{ user.name }}

            </div>
        </div>
      </div>

      <div class="chat">
        <div class="correspondent">

          <ul class="correspondent-id">
            <li>
              <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg
              " alt="">
            </li>

            <li>
              <span>Nome Utente</span>
            </li>

          </ul>

          <ul class="correspondent-menu">
            <li>
              <i class="fas fa-search"></i>
            </li>

            <li>
              <i class="fas fa-paperclip"></i>
            </li>

            <li>
              <i class="fas fa-ellipsis-v"></i>
            </li>

          </ul>

        </div>


        <div id="messages" >

          <div class="message">
            <p class="test" v-for="messages in contacts[activeUser].messages" :class="(messages.status == 'sent') ? 'sent' : 'received' ">
              {{ messages.text }}
            </p>
          </div>
        </div>


        <div class="chat-text">
          <i class="far fa-smile"></i>
          <input v-model="newText" type="text" name="" value="" placeholder="Scrivi messaggio" >
          <i class="fas fa-microphone"></i>
          <button type="button" name="button" @click="text() ; delayTB() " >
            AGGIUNGI
          </button>

        </div>


      </div>


    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
